body{
    margin: 0;
    width: 100%;
    height: 100%;
}
#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 626px;
    position: absolute;
}
.btn{
    margin:5% ;
}
input[type=number]:not([readonly]):not(.browser-default):focus{
    border-bottom-color: #1565C0 ;
    -webkit-box-shadow:0 1px 0 0 #1565C0 ;
    box-shadow:0px 1px 0px 0px #1565C0 ;
  }
#chat-window{
    overflow: auto;height:25%;width: 100%;
}
#gameLog{
    overflow: auto;height: 30%;width: 100%;
}
#room{
    width:30%;text-align: center;color: #ffffff; 
}
.menu-container{
    width: 35%;height: 40%; padding: 5%;margin-top:7%;
}
h3{
    font-size: 1vw;text-align: center;
}  
#grid{
    width: 215px;
    height: 325px;
}
#board{
    margin: 0;
    display: grid;
    grid-template: repeat(10,30px) / repeat(10,30px);
    grid-gap: 2px;
    justify-content: center;
    align-content: center;
}
#boards{
    margin: 0;
    display: grid;
    grid-template: repeat(10,30px) / repeat(10,30px);
    grid-gap: 2px;
    justify-content: center;
    align-content: center;
    transform: scale(0.5,0.5)
}
.box{
    background: #2c6ab7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs{
    background: rgb(158, 152, 152);
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs:hover{
    background: maroon;
    transform: scale(1.1,1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ship{
    background:#8c8e91;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px
}
.shoot{
    background:#b71616;
    width: 6px;
    height: 6px
}
#enter{
    width: 110px;
    height: 120px;
    background: #00ff9d;
    border: solid 4px #00ff11
}